body {
	background-color:#0f486d;
	font-family: serif;
}

.container {
	background-color:#abd4e5;
	border: 2px solid black;
	width: 895px;
	height: 394px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	border: 1px solid black;
	height: 50px;
	width: 873px;
	padding-left: 20px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	background-color:#999999;
}

.msg {
	border: 1px solid black;
	height: 340px;
	width: 873px;
	padding-left: 20px;
}

.msg_label {
	position: relative;
	z-index: 1;
	line-height: 30px;
	border: 1px solid black;
	top: 20px;
	left: 15px;
	width: 340px;
	height: 30px;
	background-color:#006699;
	font-size: 20px;
	color: red;
}

.msg_content {
	background-color:#999999;
	border: 1px solid black;
	width: 800px;
	height: 220px;
	padding: 25px;
}

.result_msg {
	font-size: 20px;
}

.links {

}