*.class

/JobCenter_Blast_Module/classes
/JobCenter_Blast_Module/deploy
/JobCenter_Blast_Submitter/build_dir
/JobCenter_Blast_Submitter/deploy
/JobCenter_Client_Jersey_1.3/classes
/JobCenter_Client_Jersey_1.3/deploy
/JobCenter_Client_Jersey_1.3/MANIFEST.MF
/JobCenter_Client_Main/deploy
/JobCenter_Client_Main/classes
/download_zip_file


/JobCenter_DoNothingTestOnlyModule/classes
/JobCenter_DoNothingTestOnlyModule/deploy
/JobCenter_Client_Root/deploy
/JobCenter_GUI_Web_App/WebRoot/WEB-INF/classes
/JobCenter_GUI_Web_App/build_dir/WEB-INF/classes
/JobCenter_GUI_Web_App/build_dir
/JobCenter_GUI_Web_App/deploy
/JobCenter_JobSubmissionClient_Default__Plain_Java/deploy
/JobCenter_JobSubmissionClient_Interface/deploy
/JobCenter_Server_Core/deploy
/JobCenter_Server_Jersey/build_dir
/JobCenter_Server_Jersey/deploy
/JobCenter_Submit_Job_To_DoNothingTestOnlyModule_Default__Plain_Java/deploy
/JobCenter_Submit_Job_To_DoNothingTestOnlyModule_Default__Plain_Java/classes
/JobCenter_base/deploy
/JobCenter_base/bin
/JobCenter_base/classes
/Module_RunShellCommand/deploy
/Module_RunShellCommand/classes
/create_installables_work_dir
/deploy
/generated_jars
/JobCenter_Client_Module_Interface/deploy
/JobCenter_Server_Core/classes
