<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	
  <servlet>
  	<display-name>JAX-RS REST Servlet</display-name>
  	<servlet-name>JAX-RS REST Servlet</servlet-name>

  	<servlet-class>
  		com.sun.jersey.spi.spring.container.servlet.SpringServlet
  	</servlet-class>
  	

      <init-param>
        <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
        <param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
      </init-param>
      
      <!--  list the packages that contain JAX-RS Jersey classes -->
      <init-param>
        <param-name>com.sun.jersey.config.property.packages</param-name>
        <param-value>org.jobcenter.webservice</param-value>
      </init-param>


<!-- These will activate the logging of requests and responses to system.out

     <init-param>
         <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
         <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
     </init-param>
     <init-param>
         <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
         <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
     </init-param>  	

 -->
  	
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>JAX-RS REST Servlet</servlet-name>
  	<url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<display-name>Health Check - check database</display-name>
  	<servlet-name>Health Check</servlet-name>
  	<servlet-class>
  		org.jobcenter.servlet.HealthCheckServlet
  	</servlet-class>
  	
  	<load-on-startup>2</load-on-startup>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>Health Check</servlet-name>
  	<url-pattern>/healthcheck</url-pattern>
  </servlet-mapping>
  	 
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  

    <filter>
	  <filter-name>ServletFilter</filter-name>
	  <filter-class>org.jobcenter.filter.ServletFilter</filter-class>
	  
    </filter>

	

	<filter-mapping>
	  <filter-name>ServletFilter</filter-name>
	  <url-pattern>/*</url-pattern> 
	</filter-mapping>	


  <filter>
	  <filter-name>hibernateFilter</filter-name>
	  <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	  <init-param>
		<param-name>sessionFactoryBeanName</param-name>
		<param-value>sessionFactory</param-value>
	  </init-param>	  
	  
	</filter>


	<filter-mapping>
	  <filter-name>hibernateFilter</filter-name>
	  <url-pattern>/*</url-pattern> 
	</filter-mapping>
	
	 

	
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/appContextDatasourceContainer.xml,
               /WEB-INF/classes/applicationContext.xml</param-value>
  </context-param>
  

	<!-- Listeners -->

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
          <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
   
	<listener>
		<listener-class>
		org.jobcenter.listener.ServletContextAppListener
		</listener-class>
	</listener>

	
       
</web-app>
