<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <listener>
  <listener-class>org.jobcenter.listener.ServletContextAppListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>action</servlet-name>
  <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
  <init-param>
   <param-name>config</param-name>
   <param-value>/WEB-INF/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>debug</param-name>
   <param-value>3</param-value>
  </init-param>
  <init-param>
   <param-name>detail</param-name>
   <param-value>3</param-value>
  </init-param>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>action</servlet-name>
  <url-pattern>*.do</url-pattern>
 </servlet-mapping>
 

  
  <!-- REST Webservices by JAX-RS Jersey Servlet -->
    <servlet>
        <servlet-name>JAX-RS REST Jersey Servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            
            <!-- specifies the packages to scan for Classes that have Jersey annotations for webservices -->
            <!-- Adding "com.fasterxml.jackson.jaxrs;" changes the JSON and JAXB XML provider to Jackson -->
            <param-value>com.fasterxml.jackson.jaxrs;org.jobcenter.webservices</param-value>
        </init-param>  

  
<!-- These will activate the logging of requests and responses to system.out

		!!  These don't work on this version of Jersey.
		!!  These are for older versions of Jersey.
  	
     <init-param>
         <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
         <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
     </init-param>
     <init-param>
         <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
         <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
     </init-param>  	
 -->

          
        <load-on-startup>1</load-on-startup>
    </servlet>
  
  <servlet-mapping>
  	<servlet-name>JAX-RS REST Jersey Servlet</servlet-name>
  	<url-pattern>/services/*</url-pattern>
  </servlet-mapping>
 
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 
<!--
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
-->

 <!--  Start Basic Auth Security Constraint
 
        <security-constraint>
                <web-resource-collection>
                        <web-resource-name>Jobcenter GUI</web-resource-name>
                        <url-pattern>/*</url-pattern>
                </web-resource-collection>
                <auth-constraint>
                        <description>Authorized Jobcenter GUI User</description>
                        <role-name>jobcenter-gui-group</role-name>
                </auth-constraint>
        </security-constraint>
        <security-role>
                <role-name>jobcenter-gui-group</role-name>
        </security-role>
        <login-config>
                <auth-method>BASIC</auth-method>
                <realm-name>jobcenter-gui-group</realm-name>
        </login-config>

Start Basic Auth Security Constraint -->

	<!-- ERROR pages -->
	
    <error-page>
	    <!-- Uncaught exception -->
	    <error-code>500</error-code>
	    <location>/WEB-INF/jsp/generalError.jsp</location>
	</error-page>
	<error-page>
	    <!-- Unsupported servlet method -->
	    <error-code>503</error-code>
	    <location>/WEB-INF/jsp/generalError.jsp</location>
	</error-page>
</web-app>
