<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- Note that this file is refreshed by the server every 60seconds, as specified in web.xml -->

<log4j:configuration debug="true">

<!-- RollingFileAppender -->

<!--  
        <appender name="ROLL" class="org.apache.log4j.rolling.RollingFileAppender">
-->
        <appender name="ROLL" class="org.apache.log4j.RollingFileAppender">

                <!-- The active file to log to -->
                <!--  Have to comment 'RollingFileAppender file specification' block
                	  out to make the filename be controlled by the class specified by < rollingPolicy -->
                
			    <!--  Start RollingFileAppender file specification -->              
                <param name="file" value="${catalina.base}/logs/JobCenterJerseyWebApp.log" />
			    <param name="MaxFileSize" value="500KB"/>
			    <!-- Number of backup files -->
			    <param name="MaxBackupIndex" value="5"/>   
			    <!--  End RollingFileAppender file specification -->              


                <param name="append" value="true" />
                <param name="encoding" value="UTF-8" />


<!-- No longer create filename with dates.  Using base RollingFileAppender will limit total size of logs for this module -->
<!--  
                <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
-->                
                        <!-- The file to roll to, this is a fairly intelligent parameter, if the file
                        ends in .gz, it gzips it, based on the date stamp it rolls at that time,
                        default is yyyy-MM-dd, (rolls at midnight)
                        See: http://logging.apache.org/log4j/companions/extras/apidocs/org/apache/log4j/rolling/TimeBasedRollingPolicy.html -->
                        <!--  <param name="FileNamePattern" value="/applogs/myportal/portal.%d.log.gz" /> -->
<!--  
                        <param name="FileNamePattern" value="${catalina.base}/logs/JobCenterJerseyWebApp.%d.log" />
                </rollingPolicy>
-->                

                <layout class="org.apache.log4j.PatternLayout">
                        <!-- The log message pattern -->
                        <param name="ConversionPattern" value="%5p %d{ISO8601} [%t][%x] %c - %m%n" /> <!-- from .properties:  %d [%t] %-5p %c - %m %n -->
                </layout>
        </appender>

<!--  
        <appender name="ROLL_ERROR" class="org.apache.log4j.rolling.RollingFileAppender">
-->
        <appender name="ROLL_ERROR" class="org.apache.log4j.RollingFileAppender">

                <!-- The active file to log to -->
                <!--  Have to comment 'RollingFileAppender file specification' block
                	  out to make the filename be controlled by the class specified by < rollingPolicy -->
                
			    <!--  Start RollingFileAppender file specification -->              
                <param name="file" value="${catalina.base}/logs/JobCenterJerseyWebApp.errors.log" />
			    <param name="MaxFileSize" value="500KB"/>
			    <!-- Number of backup files -->
			    <param name="MaxBackupIndex" value="5"/>   
			    <!--  End RollingFileAppender file specification -->              


                <!-- The active file to log to -->
                <!--  Have to comment this out so the filename is controlled by the class specified by < rollingPolicy
                <param name="file" value="SSSSSSSSSSSSSSSSSSSSSS.log" />
                 -->

                <param name="append" value="true" />
                <param name="encoding" value="UTF-8" />

				<param name="Threshold" value="WARN" />  <!-- Only WARN, ERROR, and FATAL messages -->

<!-- No longer create filename with dates.  Using base RollingFileAppender will limit total size of logs for this module -->
<!--  
                <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
-->                
                        <!-- The file to roll to, this is a fairly intelligent parameter, if the file
                        ends in .gz, it gzips it, based on the date stamp it rolls at that time,
                        default is yyyy-MM-dd, (rolls at midnight)
                        See: http://logging.apache.org/log4j/companions/extras/apidocs/org/apache/log4j/rolling/TimeBasedRollingPolicy.html -->
                        <!--  <param name="FileNamePattern" value="/applogs/myportal/portal.%d.log.gz" /> -->
<!--  
                        <param name="FileNamePattern" value="${catalina.base}/logs/JobCenterJerseyWebApp.errors.%d.log" />
                </rollingPolicy>
-->                

                <layout class="org.apache.log4j.PatternLayout">
                        <!-- The log message pattern -->
                        <param name="ConversionPattern" value="%5p %d{ISO8601} [%t][%x] %c - %m%n" /> <!-- from .properties:  %d [%t] %-5p %c - %m %n -->
                </layout>

        </appender>


    <!--                          -->
    <!-- Declare the SMTPAppender -->
    <!--                          -->

<!--
    <appender name="EMAIL"  class="org.apache.log4j.net.SMTPAppender">
        <param name="BufferSize" value="512" />
        <param name="SMTPHost" value="localhost" />
        <param name="From" value="ssss@ss.edu" />
        <param name="To" value="ssss@ss.edu" />
        <param name="Subject" value="Error from SSSSSSSSSSSSS - check main program in stack trace" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
              value="[%d{ISO8601}]%n%n%-5p%n%n%c%n%n%m%n%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>
-->

        <!-- Loggers to filter out various class paths -->
        
        
        <!--   Logging of frameworks -->

        <logger name="org.springframework" additivity="false">
                <level value="warn"/>
                <appender-ref ref="ROLL" />
                <appender-ref ref="ROLL_ERROR" />
<!--
                <appender-ref ref="EMAIL" />
-->
        </logger>

        <logger name="org.hibernate" additivity="false">
                <level value="warn"/>
                <appender-ref ref="ROLL" />
                <appender-ref ref="ROLL_ERROR" />
        </logger>

		<!-- Jersey uses the JDK logger -->
        <logger name="com.sun.jersey" additivity="false">
                <level value="WARN"/>
                <appender-ref ref="ROLL" />
                <appender-ref ref="ROLL_ERROR" />
        </logger>



		<!--  Logging of Jobcenter  -->

		<!--  
        <logger name="org.jobcenter" additivity="false">
                <level value="debug"/>
                <appender-ref ref="ROLL" />
                <appender-ref ref="ROLL_ERROR" />
        </logger>
		-->

        <!-- set debugging at info level to display jobs returned to clients -->

		<!--  
        <logger name="org.jobcenter.service.GetNextJobForClientServiceImpl" additivity="false">
                <level value="debug"/>
                <appender-ref ref="ROLL" />
                <appender-ref ref="ROLL_ERROR" />
        </logger>
		-->

		<!--  
        <logger name="org.jobcenter.jdbc.GetNextJobForClientJDBCDAOImpl" additivity="false">
                <level value="debug"/>
                <appender-ref ref="ROLL" />
                <appender-ref ref="ROLL_ERROR" />
        </logger>
		-->


		

    <!--                           -->
    <!-- setup log4j's root logger -->
    <!--                           -->
    <root>
    <!--
        <level value="all" />
     -->
        <priority value="warn" />
        <appender-ref ref="ROLL"/>
        <appender-ref ref="ROLL_ERROR" />
<!--
        <appender-ref ref="EMAIL" />
-->
    </root>
</log4j:configuration>