/* These are the global styling rules - global.css */


BODY    {
                background-color: #FFFFFF;
                color: #000000;
                font-family: verdana, helvetica, arial;
                font-size:10pt;
                font-style:normal;
                font-weight:500;
        }

        /*  background-color: #FFFFFF;  #E8EAFF;  */

PRE	{
		color: #000000;
		font-size: 10pt;
		font-weight:500;
	}

TD	{
		font-size:8pt;
	}
th	{
		font-size:8pt;
		font-weight:bold;
		text-align:left;
	}

INPUT.button {
	font-size:10pt;
	background-color:#000960;
	color:#FFFFFF;
}

label:hover { background-color: #CCCCCC }


/*
		These pages have special settings on the *-outer-container to lock the footer to the bottom of the page
*/

	/*  Whole Page level  */

body.jobcenter-page-main .jobcenter-page-main-outermost-div { /*  lock the footer to the bottom of the page */	min-height:100%; position:relative; }

body.jobcenter-page-main .project-text-link { font-size: 12px; text-decoration: none; color: black; font-weight: bold; opacity:0.7;filter:alpha(opacity=70);  }

.table-no-border-no-cell-spacing-no-cell-padding { border-width:0px; padding: 0px; border-spacing : 0px; }

.table-no-border-no-cell-spacing-no-cell-padding tbody, 
.table-no-border-no-cell-spacing-no-cell-padding tr, 
.table-no-border-no-cell-spacing-no-cell-padding th, 
.table-no-border-no-cell-spacing-no-cell-padding td,
tr.table-no-border-no-cell-spacing-no-cell-padding, 
td.table-no-border-no-cell-spacing-no-cell-padding { padding-top: 0px; padding-bottom: 0px; border-spacing : 0px; }
		
tr.table-no-border-no-cell-spacing-no-cell-padding, .table-no-border-no-cell-spacing-no-cell-padding , .table-no-border-no-cell-spacing-no-cell-padding td {
	padding-top: 0px; padding-bottom: 0px;
	border-spacing : 0px;
}
					

.contentbold {

	font-weight:bold;
}

h2.contentBoxHeader {
	font-weight:bold;
	font-size:12pt;
	margin-top:0px;
	margin-bottom:0px;
}



DIV.error {
        border-width: 1px;
        border-style: solid;
        padding: 10px;
        z-index:1;
        font-family: verdana, helvetica, arial;
        font-size:10pt;
        font-style:normal;
        font-weight:500;
        margin:0px;
}

DIV.error_header {
        border-width: 1px;
        border-style: solid;
        padding: 10px;
        z-index:1;
        font-family: verdana, helvetica, arial;
        font-size:12pt;
        font-style:normal;
        font-weight:900;
        margin:0px;
        text-align:center;
}
/*   padding: 10px;  */



/* Error color definitions */
DIV.error_header {
        border-color: #B20A23;
        background-color: #B20A23;
        color: #FFD3DA;
}
DIV.error {
        border-color: #B20A23;
        background-color: #FFD3DA;
        color: #000960;
} /*  color: #B20A23 */



/* Search color definitions */
DIV.listJobs {
	width: 600;
        border-color: #000960;
        background-color: #E8EAFF;
        color: #000960;
}

TR.listJobs_A, DIV.listJobs_A {
	background-color: #E8EAFF;
}
TR.listJobs_B, DIV.listJobs_B {
	background-color: #D8DBFE;
}
